body {
  color: rgba(0, 0, 0, 0.6);
  background-color: #f5f5f5;
}

#profile {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-bottom-color: #5a5a5a;
}

#avatar > img{
  border-color: #eeeeee;
  background-color: #ffffff;
}

#background div:nth-child(1) {
  background-color: #5a5a5a;
}

.rounded-button {
  background-color: #f3f3f3;
  border: solid 1px #5a5a5a;
}

.rounded-button:hover {
  background-color: #5a5a5a;
}

.rounded-button object {
  filter: invert(.25)
}

.rounded-button:hover object {
  filter: invert(.9)
}